#SectionMain {
    
    width: 100%;
    min-height: 500px;
    background-color: grey;
}
#SectionMain .minimenu:nth-child(1) {
    background-color: rgb(140, 127, 255);
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    
   
}
#SectionMain .Homepage_detail:nth-child(2) {
    background-color: rgb(140, 127, 255);
   
   margin-left: 0.5%;
   margin-right: 0.5%;
    width: 30%;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    text-align: center;
    text-justify: auto;
   
    
    
}
#SectionMain .profile_image:nth-child(3) {
    background-color: rgb(140, 127, 255);
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    
}
.clearfix::after {
    content: "";
    display: block;  
    clear: both; 
}