#SectionMain {
    
    width: 100%;
    min-height: 500px;
    background-color: grey;
}
#SectionMain .minimenu:nth-child(1) {
    background-color: rgb(140, 127, 255);
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    
   
}
#SectionMain .Homepage_detail:nth-child(2) {
    background-color: rgb(140, 127, 255);
   
   margin-left: 0.5%;
   margin-right: 0.5%;
    width: 30%;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    text-align: center;
    text-justify: auto;
   
    
    
}
#SectionMain .profile_image:nth-child(3) {
    background-color: rgb(140, 127, 255);
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    padding: 5px;
    
}
.clearfix::after {
    content: "";
    display: block;  
    clear: both; 
}
/*
#SectionMain .minimenu .Homepage_detail .profile_image #image{
    width: 10%; 
    min-height: 400px; 
    background-color: aqua;
    float: left;
}*/


/*
.profile_image #image{
    border: 2px solid #000;
    width: 30%; 
    height: auto; 
    border-radius: 70%;
 
    float: left;
}*/
/*
.minimenu {
    
   
    justify-content: left;
    margin-top: 20px;
    color: #000;
   
    margin-right: 80%;
    height: 100%;
    float: left;
}
.Homepage_detail {
   
    justify-content: center;
    margin-top: 20px;
    color: #000;
    background-color: rgb(140, 127, 255);
    margin: 5%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    float: left;
    padding: 20px;
}



}*/